Styles go here
.App{
    width: 100vw;
    height: 100vh;
}
body{
    margin: 0;
    padding: 0;;
}

/* Home */
.jumbotron {
    background-image: url("http://swachhcoin.com/backnew2.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}
.jumbotron .jumbodesc1{
    text-align: top;
    font-size: 45px;
    margin: 100px auto;
    color: white;
}

/* Navbar */
.Navbar{
    background-color: #021E39;
    width: 100%;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex
}

.Navbar .leftSide{
    flex: 50%;
    max-height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.Navbar .rightSide {
    flex: 50%;
    max-height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
    padding-right: 25px;
    color: aliceblue;
}

.Navbar .leftSide .links a{
    max-height: 50px;
    margin-left: 50px;
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
    margin-left: 15px;
}
.Navbar .leftSide button{
    display: none;
    margin-left: 20px;
}

.Navbar .leftSide #hidden{
    position: absolute;
    left: 0px;
    top: 20px;
    height: auto;
    width: 100%;
    background-color: #021E39;   
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.Navbar .leftSide #hidden a{
    margin: 10px;
}

@media only screen and (max-width: 850px) {
    .Navbar .leftSide .links a{
        font-size: 20px;
    }
}
@media only screen and (max-width: 750px) {
    .Navbar .leftSide .links a{
        font-size: 20px;
    }
}
@media only screen and (max-width: 650px) {
    .Navbar .leftSide button{
        display: flex;
    }
    .Navbar .leftSide .links {
        display: none;
    }
    .Navbar .leftSide #hidden{
        position: absolute;
        left: 0px;
        top: 80px;
        height: auto;
        width: 100%;
        background-color: #021E39;   
        display: flex; 
        flex-direction: column;
        align-items: center;
    }
    .Navbar .leftSide #hidden a{
        position: relative;    
    }
}
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito:wght@200;400;600;700&display=swap");

::selection,
.dropdown-item.active {
  color: #363537;
  background-color: #add8e6;
}

.content {
  margin: 2%;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  font-size: 120%;
  font-weight: 500;
  background-color: #add8e6;
}

.dropdown-menu {
  background-color: #add8e6;
}

.dropdown-item:hover {
  background-color: floralwhite;
}

.about-mission, .about-csi ,.about-testimonials {
  width: 100%;
}

footer {
  font-size: 120%;
  font-weight: 400;
}

footer svg {
  font-size: 150%;
}

.contact-btn,
.contact-btn:hover {
  border-color: #363537;
  color: #363537;
  font-weight: 800;
  background-color: #add8e6;
}

a {
  text-decoration: none;
}

<<<<<<< HEAD
@media (max-width: 768px) {
  .tgl-btn {
    margin-top: 2%;
  }
  footer {
    font-size: 110%;
  }
}
=======
.contact-text {
    font-size: 70%;
}

.contact-list {
    list-style-type: none;
    font-size: 120%;
}

.contact-list-header {
    font-size: 180%;
}

@media(max-width: 768px) {
    .tgl-btn {
        margin-top: 2%;
    }

    footer {
        font-size: 110%;
    }
}

/* Home Component 

.cleancoin{
    text-align: center;
    font-size: 100px;
    margin: 100px auto;
    color: white;
  }
  .content {
      margin: 2%;
  }
  .container-fluid{
     text-align: center;
     padding: 5.5rem;
  }
  
  .council-pic-info{
    margin-top: 70px;
    width: 100%;
  }
  
  .counter{
    text-align: center;  
    padding: 3rem;
    width: 100%;
  }
  
  .registrations{
    margin-top: 30px;
    width: 100%;
  }
  
  .jumbotron {
      background-image: url("../back-img.jpeg");
      background-size: cover;
      background-repeat:no-repeat;
  }
  
  .poster{
    margin-left: 175px;
  }
  
  .registration-buttons{
    margin: 90px 0 0 350px;
    width: 300px;
  }
  
  @media screen and (max-width: 576px) {
    .jumbotron{
      padding-top: 1px;
      padding-bottom: 1px;
      width: 94%;
      margin: 0 auto 5% auto;
    }
  
    .council-pic-info{
      width: 95%;
      margin: 2.5%;
    }
  
    .counter{
      padding-right: 0;
    }
  
    .counter-item h3{
      font-size: 100%;
      text-align: center;
    }
  
    .poster{
      margin: 0 0 0 15px;
    }
    
    .registration-buttons{
      margin: 10% 0 0 8%;
      width: 40%;
      height: 50px;
      font-size: 0.80rem;
    }
  }
  
/* Cards styling 
.center{
  text-align: center;
}

.card {    
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 350px;
  margin: 50px;
  text-align: center;
  display: inline-block;

}

.card:hover { 
  transform: rotate(2deg) scale(1.1);
}

.cardText{
  background-color: rgb(228, 216, 216);
  color: rgb(22, 22, 21);
  font-weight: 900;
} */